header {
	color: @highlight;
	min-height: 88px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: @white;
	z-index: 1;
	
	.main-bar {
		padding: 10px 30px;
		max-height: 86px;
		transition: max-height .2s ease;
	}
	
	h1.logo, .logo-mini {
		float: left;
		margin: 0;
		margin-right: 25px;
		height: 70px;
		position: absolute;
		left: 30px;
		top: 10px;
		opacity: 1;
		transition: opacity .2s linear, top .2s ease;
	}
	
	.logo-mini {
		opacity: 0;
		height: 55px;
		padding-top: 10px;
		top: 30px;
	}
	
	#meta-buttons {
		position: absolute;
		opacity: 1;
		top: 10px;
		left: 180px;
		transition: opacity .2s linear, top .2s ease;
	}
	
	.btn-link {
		color: inherit;
		padding: 23px 0 23px;
		font-size: 18px;
	}
	
	.course-title {
		opacity: 0;
		font-size: 18px;
		font-weight: 400;
		color: @neutral_intense;
		padding: 20px 0;
		position: absolute;
		top: 50px;
		left: 94px;
		transition: opacity .2s linear, top .2s ease;
	}
	
	ul > li {
		display: inline-block;
		margin-right: 18px;
	}
	
	.btn-toolbar {
		padding: 10px 0;
		transition: padding .2s ease;
		
		&:before {
			content: "";
			display: block;
			clear: both;
		}
		
		.vruler {
			float: left;
			margin-left: 15px;
			width: 1px;
			height: 48px;
			background-color: @neutral_light_1;
			margin-right: 15px;
		}
		
		.btn-group{
			
			.usermenu {
				padding: 0;

				img {
					height: 48px;
				}
			}
			
			.notifications {
				text-align: center;
				position: relative;
				padding: 0;
				
				& > img {
					padding: 11px 5px;
				}
				
				.unread {
					display: block;
					position: absolute;
					top: 3px;
					right: 0;
					width: 24px;
					height: 24px;
					border-radius: 12px;
					background-color: @alerts;
					color: @white;
					text-align: center;
					font-size: 12px;
					font-weight: 700;
					padding-top: 3px;
				}
			}
		}
	}
}